@model ShopOnline.Models.Page

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/Admin_Layout.cshtml";
}

<h1>Chi tiết</h1>

<div>
    <h4>Page</h4>
    <hr />
    <div class="card shadow-sm p-4 bg-light">
        <h4 class="mb-3">@Model.PageName</h4>
        <dl class="row">
            <div class="col-md-4 mb-3">
                <img src="~/Images/Pages/@Model.Thumb" alt="@Model.PageName" class="img-fluid rounded border" style="max-height: 250px;" />
            </div>
            <div class="col-md-8">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.PageName)</th>
                            <td>@Html.DisplayFor(model => model.PageName)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Contents)</th>
                            <td>@Html.DisplayFor(model => model.Contents)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Publish)</th>
                            <td>@Html.DisplayFor(model => model.Publish)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Title)</th>
                            <td>@Html.DisplayFor(model => model.Title)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.MetaDesc)</th>
                            <td>@Html.DisplayFor(model => model.MetaDesc)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.MetaKey)</th>
                            <td>@Html.DisplayFor(model => model.MetaKey)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Alias)</th>
                            <td>@Html.DisplayFor(model => model.Alias)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.CreatedDate)</th>
                            <td>@Html.DisplayFor(model => model.CreatedDate)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Ordering)</th>
                            <td>@Html.DisplayFor(model => model.Ordering)</td>
                        </tr>
                    </tbody>
                </table>
            </div>

           
        </dl>
    </div>
   
</div>

<div class="mt-4 d-flex justify-content-between">
    <a asp-action="Index" class="btn btn-secondary">Quay lại danh sách</a>
    <a asp-action="Edit" asp-route-id="@Model.PageId" class="btn btn-primary">Chỉnh sửa</a>
</div>